@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.my-border {
  @apply border border-black border-solid;
}

.my-no-select {
  @apply select-none cursor-pointer;
}

.my-menu-item {
  @apply w-full h-11 px-4 py-1.5
  flex flex-row justify-start
  rounded-md
  leading-8
  text-black/80
  hover:bg-gray-200
  active:bg-gray-300
  ;
}
.my-menu-item.active {
  @apply bg-gray-300;
}

/* LoadingButton 的图标位置不对 */
.my-menu-item > .MuiLoadingButton-loadingIndicator {
  left: unset;
}

.my-menu-item .chat-name {
  @apply flex-1 relative overflow-hidden whitespace-nowrap;
}

.my-menu-item .chat-name div:last-child {
  @apply absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l from-gray-100;
}

.my-menu-item:hover .chat-name div:last-child {
  @apply from-gray-200;
}

.my-menu-item:active .chat-name div:last-child,
.my-menu-item.active .chat-name div:last-child {
  @apply from-gray-300;
}

.my-message-send-area {
  @apply flex-1 flex flex-col w-full py-2 pl-4 pr-2
  bg-white border border-black/10
  rounded-md
  ;
}

.my-message-input {
  @apply m-0 bg-transparent
  text-base;
}

.my-message-send-btn {
  @apply absolute p-1.5 right-1 bottom-2 rounded-md text-gray-500

  hover:bg-gray-300 hover:text-gray-500 hover:border-transparent
  focus:border-0 focus:ring-0 focus-visible:ring-0

  disabled:opacity-40
  disabled:hover:bg-transparent;
}
