@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.my-border {
  @apply border border-black border-solid;
}

.my-no-select {
  @apply select-none cursor-pointer;
}

.my-menu-item {
  @apply w-full h-11 pl-4 pr-1
  flex flex-row justify-start
  rounded-md
  leading-8
  text-black/80
  hover:bg-gray-200
  active:bg-gray-300
  ;
}

.my-menu-item.active {
  @apply bg-gray-300;
}

/* LoadingButton 的图标位置不对 */
.my-menu-item > .MuiLoadingButton-loadingIndicator {
  left: unset;
}

.my-menu-item:hover .gradient-mask {
  @apply from-gray-200;
}

.my-menu-item:active .gradient-mask,
.my-menu-item.active .gradient-mask {
  @apply from-gray-300;
}
